
<nav class="navbar navbar-expand-lg height bcolor ">
    <a class="navbar-brand hovr fontt p-2 grad" href="#">Website</a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto marr">

        <li class="nav-item">
            <a class="nav-link hovr fontt space grad centr"  routerLink="/"  href="#">Home</a>
         </li> 
         <li class="nav-item"> 
            <a class="nav-link hovr fontt space grad centr" routerLink="/about"  href="about">About</a>
          </li> 
          <li class="nav-item"> 
            <a class="nav-link hovr fontt space grad centr" routerLink="/products" href="products">Asbestos</a>
         </li> 
         
         <li class="nav-item"> 
      <div class="dropdown">
        
          <a class=" nav-link dropdown-toggle hovr fontt space grad centr " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
      
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item"  routerLink="/login"  href="login">Login</a>
          <a class="dropdown-item"  routerLink="/signup"  href="signup">Signup</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </li>
    </ul>
    </div>
  </nav>
  