<div class="logo">
    <p class="logo-h"><img class="logo-f" src="assets/img/logof.png" alt="bm"></p>
    <ul class="f-row-1">
        <li>Company</li>
        <li> <a routerLink="/about">About</a> </li>
        <li> <a routerLink="/about">Contact</a> </li>
        <li> <a routerLink="/products">Asbestos</a> </li>
    </ul>
    <ul class="f-row-1">
        <li>Products</li>
        <li> <a routerLink="/products">Manufacture</a> </li>
        <li> <a routerLink="/products"> Material</a></li>
        <li> <a routerLink="/products"> Price</a></li>
    </ul>
   
</div>
<hr>
<p class="cpr">© Copyright 2021 by Bmsheets</p>
