<div class="logo">
    <p class="logo-h"><img class="logo-f" src="assets/img/logof.png" alt="bm">SBM SHEETS</p>
    <ul class="f-row-1">
        <li>Company</li>
        <li> <a href="">About</a> </li>
        <li> <a href="">Contact</a> </li>
        <li> <a href="">Asbestos</a> </li>
    </ul>
    <ul class="f-row-1">
        <li>Products</li>
        <li> <a href="">Manufacture</a> </li>
        <li> <a href=""> Material</a></li>
        <li> <a href=""> Price</a></li>
    </ul>
   
</div>
<hr>
<p class="cpr">© Copyright 2021 by Bmsheets</p>
