
.height{
    height: 770px;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -100%);
}
@keyframes popup {
    0%{
        opacity:0;
        transform: translateY(150px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
    
}
@keyframes popup1 {
    0%{
        
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{

        transform: translateY(0px);
    }
    
}
.carocard{
    display:grid;
    justify-content: center;
    top: 30%;
    left: 10%;
    width:80%;
    height:inherit;
    position:absolute;
    opacity: 0;
    animation: popup 1s infinite;
    animation-duration: 8s;
}
.jump{
    opacity: 1;
    animation: popup1 2s infinite;
    animation-duration: 2s;
}
.carocard .car-title{
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    color:white;
    justify-content: center;
    
}
.bttn-login{
margin-top: 20px;
    width:150px;
    height:60px;
    font-size: 22px;
outline: none;
border:none;
border-radius: 10px;
background-color: rgb(7, 73, 255);
color: white;
margin-left: auto;
margin-right: auto;
position: relative;
}