@font-face {
    font-family: head;
    src: url(https://selva1806.github.io/web/assets/font/Comfortaa-VariableFont_wght.ttf);
  }

  @keyframes updown {
      0%{
          transform: translateY(0px);
      }
       50%{
        transform: translateY(50px);

       }
       100%{
        transform: translateY(0px);

       }
      
  }
  @keyframes rad {
      0%{
          transform: translateX(0%);

      }
      50%{
        transform: translateX(5%);
    }
      100%{
        transform: translateX(0%);
    }
      
  }
  @keyframes colorchange {
      0%{
          background-color: rgb(247, 247, 247);
      }
      50%{
        background-color: rgb(83, 86, 255);

      }
  
      100%{
        background-color: rgb(247, 247, 247);

      }
  }
  @keyframes colorchange-2 {
    0%{
      color: rgb(0, 0, 0);
    }
    50%{
     color: rgb(255, 255, 255);

    }

    100%{
      color: rgb(0, 0, 0);

    }
}
.left-img{
    position: absolute;

    float:left;
    margin-left: -350px;
    margin-top: -50px;
    z-index: 1;
    animation: updown 6s infinite;
}
.row{
    margin-left: auto;
    margin-right: auto;
}
.right-img{
position: relative;
    float:right;
    margin-right: -150px;
    margin-top: -50px;
    z-index: 1;
    animation: updown 6s infinite;

}
.bimg{
 margin-left: auto;
 margin-right: auto;
  margin-top: 10%;
  width: 600px;
  height: auto;
  padding-top:100px;
  padding-bottom: 50px;
  animation: rad 6s infinite;
    }

.head{
    position: relative;
    z-index: 2;
    margin-top:150px;
    font-size: 50px;
    margin-left: 20%;
    font-family: head;
    color: white;
    /* animation: colorchange-2 6s infinite; */

}
.home-cont{
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 20px;
    background-color: rgb(83, 86, 255);

    /* animation: colorchange 6s infinite; */

}

@media only screen and (max-width:600px){
    .bimg{
        width: 350px;
        padding-right: 20px;
        margin-right: auto;
    }
    .right-img{
       margin-right: -400px;
    }
    .left-img{
        margin-left: -400px;
    }
}