<app-head></app-head>

<div class="body">
    <div class="rel d-block w-100  height" style="background-image: linear-gradient(20deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0.6) 51%, rgba(0, 0, 0, 0.3) 75%), url('assets/img/aimg.jpg'); background-size: cover; background-position: center center;"></div>
    <div class="carocard jump">
        <span class="car-title">About Us</span>
       
      </div>

      <app-reachinfo></app-reachinfo>

<app-location></app-location>
<app-contact></app-contact>
<app-footer></app-footer>
<ul class="boxarea">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
     <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
    
</div>
