<app-bthome></app-bthome>
<div class="login-container">
  <div class="top-square"></div>
        <div class="bottom-square"></div>
          
  <div class="login-form" >
        <div>
          <img class="mob-log" src="assets/img/loginl.jpg" alt="">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="text" class="login-input"  #email  placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="login-input" #password placeholder="Password">
                <a class="fpass" (click)="resetPass(email.value)">forgot password?</a>
              </div>
            </div>
            <div class="form-group row" >
                <button class="bttn-login" (click)="onSignin(email.value,password.value)">Login
                    </button>
                  
                </div>
                <p class="createp">Dont have an account?<a style="text-decoration: none;"  routerLink="/signup"  href="signup">signup</a></p>

              </div>

    </div>
</div>
