.login-container{
    margin-top: 90px;
    justify-content: center;
    display: flex;
}
.login-form{
    height:500px;
    padding:10px;
    padding-top: 10%;
    position: relative;
    width:70%;
    display: flex;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.9);
    overflow: hidden;
    border-radius: 30px;

    transition: .5s;
}


.login-form:hover{

    box-shadow: 8px 8px 50px  rgb(109, 109, 109);

}
.createp{
    z-index: 2;
    position: relative;
    text-align: center;
}
.fpass{
    text-decoration: none;
    float: right;
}
@media only screen and (max-width:576px){
    
    .login-form{
        width:100%;
        border-radius: 0px;
        
    }
    .login-form:hover{
        box-shadow: 8px 8px 50px  rgba(255, 255, 255,0);
    }
    
}

.col-sm-10{
padding-left: 20%;
}
input,input:focus{
    font-size: 20px;
    background-color: rgb(230, 230, 230);
   
}
.login-input{
    border:1px solid rgb(172, 172, 172);
   border-radius: 5px;
   height: 50px;
   width: 100%;
   padding-left: 10%;
   outline: none;
}

label{
    font-size: 20px;
}

.bttn{
    background-color: white;
    width:160px;
    height:70px;
    margin-left: 30%;
    margin-top: 10%;
    overflow: hidden;
    border:2px solid ;
    border-image: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);
    border-image-slice: 1;
z-index: 2;
    transition:.5s;
    outline: none;
    
}
.bttn:hover{
    border:2px solid rgb(255, 252, 252);

}
.bttn-txt{
 
        background: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    position: absolute;
font-size: 25px;
font-weight: 600;
transform: translate(-25px,-230px);
font-style: italic;
}
.bttn:hover .bttn-txt{
    background: -webkit-linear-gradient(#eee, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bttn-alig{
    margin-top: 50px;
}
.bttn-left{
    position: relative;
    border: none;
    width:130px;
    height:120px;
    background: rgb(245,9,236);
    background: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);  
transform: translate(-200px,0px);
    transition: .5s;
}
.bttn:hover .bttn-left{
    transform: translate(-55px,-10px);
}
.bttn-right{
    position: relative;
    border: none;

    width:130px;
    height:120px;
    transform: translate(160px,-150px);
    background: rgb(245,9,236);
background: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);
    transition: .5s;
}
.bttn:hover .bttn-right{
    transform: translate(75px,-150px);
}
.bttn-alig{
    margin-left: 30%;
}


.top-circle{
    width:250px;
    height:250px;
    border-radius: 120px;
    position: absolute;
    transform: translate(-550px,-150px) rotateY(180deg) ;

    background-color: rgba(248, 94, 222, 0.8);
    transition: .5s;
}

.login-form:hover .top-circle{
    width:100%;
    height:100%;
}

.bottom-circle{
    width:250px;
    height:250px;
    border-radius: 120px;
    position: absolute;
    transform: translate(550px,150px) rotateY(180deg) ;

    background-color: rgba(0, 225, 255, 0.8);
    transition: .5s;
}
.login-form:hover .bottom-circle{
    width:100%;
    height:100%;
}
@media only screen and (max-width:792px) {
    .login-form:hover .top-circle{
        width:1000px;
        height:100%;
    }
    
    .login-form:hover .bottom-circle{
        width:1000px;
        height:100%;
    }
}