.login-container{
    justify-content: center;
    background: linear-gradient(356deg, rgba(255,0,245,1) 0%, rgba(0,201,220,1) 57%);
    padding:150px 10px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.login-form{
    height:500px;
    padding:10px;
    padding-top: 10%;
    position: relative;
    width:70%;
    display: flex;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.4);
    overflow: hidden;
    border:2px solid white;
   
    box-shadow: 8px 8px 50px  rgb(109, 109, 109);

}
.createp{
    z-index: 2;
    position: relative;
    text-align: center;
}
.fpass{
    text-decoration: none;
    float: right;
}
.col-sm-10{
padding-left: 20%;
}
input,input:focus{
    font-size: 20px;
    background-color: rgb(230, 230, 230);
   
}
.login-input{
    border:1px solid rgb(172, 172, 172);
   border-radius: 5px;
   height: 50px;
   width: 100%;
   padding-left: 10%;
   outline: none;
}

label{
    font-size: 20px;
}
.bttn-login{

    width:150px;
    height:40px;
outline: none;
border:none;
border-radius: 20px;
background-color: blueviolet;
color: white;
margin-left: auto;
margin-right: auto;
position: relative;
}
.top-square{
    width:300px;
    height:300px;
    background-color: rgba(255, 255, 255, 0.244);
    transform: translate(-210%,-60%) rotateZ(50deg) ;
    position: absolute;
}
.bottom-square
{
    width:300px;
    height:300px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(210%,60%) rotateZ(50deg) ;
    position: absolute;
}
.mob-log{
    display: none;
}
@media only screen and (max-width:562px){
    .mob-log{
        width:300px;
        height:300px;
        display:flex;
        margin-top: 0px;
    }
    .login-form{
        margin-top:0px;
        background-color: white;
        box-shadow: none;
        width:100%;
        border-radius: 20px;
        height: auto;
        
    }
    .login-form:hover{
        box-shadow: 8px 8px 50px  rgba(255, 255, 255,0);
    }
    label{
        display: none;
    }
    .login-input,.login-input:focus{
        margin-left: -2rem;
        margin-right: auto;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: inherit;
        font-size: 15px;
    }
    
}
