.colo{
    color: rgb(69, 69, 240);
    font-weight: bolder;
}
.bttn1{
    background-color: rgb(253, 0, 219);
    color:white;
    width:80px;
    height:40px;
    
    overflow: hidden;
    border:2px solid ;
    border:2px solid rgb(255, 252, 252);

     margin-top: 15px;
     margin-left: 100px;
    transition:.5s;
    outline: none;

    
}
.lp{
    transform: translateX(35px);
}
.ty{
    transform: translate(10px, 50px);
}
.padll{
    transform: translate(80px, -110px);
}
.bttn1:hover{
    border-image: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);
    border-image-slice: 1;

    background-color: white;
    color: rgb(253, 0, 219);

}
.padl{
    margin-left: 10px;
   
 }
.pr{
    float: right;
}
.low{
    padding-top:20px;
    display: flexbox;
}

.fnt{
    font-size: 18px;
}
.prebox{
background-color: rgb(255, 255, 255);
width:90%;
height:auto;
display: block;
transform: translate(5%,10%);
padding:20px;
justify-content: center;
border-radius: 5px;
border: 2px solid rgb(8, 4, 255);
}
.pimg{
    width: 200px;
    height:200px;
    transform: translateY(-20px);
}
.cen{
    text-align: center;
}
.preview{
    display: none;
width:100%;
height:100%;
background-color: rgba(241, 241, 241, 0.842);
position: fixed;
overflow: scroll;
z-index: 9;

}
.cart-cont{
    width:350px;
    height:100%;
    background-color: rgb(247, 247, 247);
    position: fixed;
    z-index: 7;
    transform: translateX(110%);
    overflow: scroll;
    right:0;
    transition: .5s;
}
.close {
    color: #aaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-right: 20px;
    z-index: 6;
    float: left;
    padding-top:20px;
    padding-left:20px;

  }
.in{
    position: relative;
  float: right;
  padding-top: 0px;
  padding-right: 5px;
}
  .cart-card{
   position: relative;
   z-index: 1;
    width:300px;
    height:170px;
    background-color: rgb(236, 236, 236);
    margin-top:60px;
    margin-left:30px;
    margin-right: 40px;
  }

  .cart-card img{
    width:150px;
    height:150px;
    position: relative;
    transform: translate(10px,10px);
    
  }

  .empty{ 
      z-index: 0;
      margin-top: 50%;
      position: absolute;
      margin-left: 35%;
      font-weight: 900;
      color: rgb(168, 168, 168);
      font-size: 30px;
  }
  .bttn{
    background-color: white;
    width:80px;
    height:40px;
    overflow: hidden;
    border:2px solid ;
    border-image: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);
    border-image-slice: 1;
     margin-top: -45%;
     margin-left: 170px;
    transition:.5s;
    outline: none;
    
}
.bttn:hover{
    border:2px solid rgb(255, 252, 252);

}
.bttn-txt{
 
        background: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    position: absolute;
font-size: 20px;
font-weight: 600;
transform: translate(-20px,-240px);
font-style: italic;
}
.bttn:hover .bttn-txt{
    background: -webkit-linear-gradient(#eee, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bttn-alig{
    margin-top: 50px;
}
.bttn-left{
    position: relative;
    border: none;
    width:130px;
    height:120px;
    background: rgb(245,9,236);
    background: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);  
transform: translate(-200px,0px);
    transition: .5s;
}
.bttn:hover .bttn-left{
    transform: translate(-85px,-10px);


}
.bttn-right{
    position: relative;
    border: none;

    width:130px;
    height:120px;
    transform: translate(160px,-150px);
    background: rgb(245,9,236);
background: linear-gradient(106deg, rgba(245,9,236,1) 15%, rgba(0,121,255,1) 54%, rgba(245,9,236,1) 85%);
    transition: .5s;

}
.bttn:hover .bttn-right{
    transform: translate(45px,-150px);


}
.bttn-alig{
    margin-left: 30%;
}
.cart-card p{
  margin-top: -150px;
  margin-left: 190px;
  font-size: 30px;
}