<div class="preview"   id="prev">
  <div class="full" *ngFor="let citem of cartitems">
    <div class="prebox"  *ngIf="citem.name == nme">
      <span class="close pr" id="fcl" (click)="fullclose($event)" >&times;</span>
 
   <h1 class="cen">Preview</h1>
<hr>
     <div class="row low">
      <div class="col-md">
        <img src="{{citem.imag}}"  class="pimg" alt="">
      </div>
      <div class="col-md">
        <p class="fnt" id="name1" ><label class="colo">Name :&nbsp;</label>{{name}}</p>
        <p class="fnt" id="address1"><label class="colo">Address :&nbsp;</label>{{add}}</p>
        <p class="fnt" id="phone1"><label class="colo">Mobile :&nbsp;</label>{{mobile}}</p>
        <p class="fnt" id="emailid1"><label class="colo">Email :&nbsp;</label>{{email}}</p>
     </div>
      <div class="col-md">
        <p class="fnt"><label class="colo"> Product:&nbsp;</label>{{citem.name}}</p>
        <p class="fnt"><label class="colo">Quantity:&nbsp;</label>{{citem.quantity}}</p>
        <p class="fnt" id="total1"><label class="colo">Price:&nbsp;</label>₹{{citem.price}}</p>
        <p class="fnt"><label class="colo">Payment Mode:&nbsp;</label>COD</p>
      </div>
      
     </div>
     <hr>
     <button class=" bttn1 padl " (click)="addtodb(citem.name,citem.price,citem.imag,citem.quantity)">
      Buy</button>
    </div>
  </div>
  
  </div>
<div class="cart-cont" id="cart">
    <span class="close" (click)="closecart($event)" >&times;</span>
 <span class="empty">Empty!!</span>
<div  *ngFor="let citem of cartitems" class="cart-card" >

    <span class="close in" (click)="closeitem($event)" id="clo" >&times;</span>
<img src={{citem.imag}} alt="">
<button class="buyall bttn1 padll" id="buy" (click)="show($event,citem.name)">
    Buy</button>
 <p class="ty">₹{{citem.price*citem.quantity}}</p>
</div>
</div>
