@font-face {
    font-family: titlefont;
    src: url(/src/assets/font/titlefont.ttf);
}
.allign{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 600px;
    padding:10px;
}
.loc-head{
    margin-top:20px ;
   text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: titlefont;
}