.order-cont{
    background-color: rgb(247, 247, 247);
padding:20px;
margin-top: 100px;
min-height: 500px;
}
.order-card{
    
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height:auto;
    background-color: white;
    border-radius: 10px;
    border:5px solid rgb(47, 47, 252);
    transition: 1s;
    margin-top: 30px;

}

.order-card:hover{
    box-shadow: 20px 20px 20px rgba(109, 108, 108, 0.562);
}
.card-img{
    width:300px;
    height:300px;
    padding: 10px;
}
.card-det{
    list-style-type: none;
    font-size: 22px;
    padding:40px;
}
@media screen and (max-width:400px) {
    .card-img{
        margin-top:-70px;
        }
}
@media screen and (max-width:520px) {
    .card-det{
        font-size: .9rem;
    padding-top:0px;
    }
    
}
.card-det li{
    padding:10px;
}
.clrr{
    border: 7px solid rgb(21, 223, 21);
}
.bclr{
    font-weight: 800;
    color: blue;
    font-style: italic;
    border-bottom: 1px solid rgb(119, 119, 119);
}
.bclr-in{
    color: black;
    font-weight: 400;
}
.bton{
    width:100%;
    font-size: 25px;
    margin:50px;
    border: 2px solid blue;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
    outline: blue;
    font-style: italic;
    font-weight: 800;
    color: blue;
}
.close{   
    margin-left: 10px;
    margin-top: 10px;
     color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-right: 20px;
    z-index: 6;
}
.title{
    text-align: center;
    color: rgb(168, 168, 168);
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}