<app-head></app-head>
<div class="rel d-block w-100  height" style="background-image: linear-gradient(20deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0.6) 51%, rgba(0, 0, 0, 0.3) 75%), url('assets/img/pwall.jpeg'); background-size: cover; background-position: center center;"></div>
<div class="carocard">
    <span class="car-title">Asbestos</span>
   
  </div>
<app-productdis></app-productdis>
<div class="p-container">
<div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div>
<div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div><div class="p-card">
  <img src="assets/img/aimg1.jpg" alt="rand">
  <button class="hovr-butt">view</button>

  <div class="row">
  
    <button class="bttn">
      <div class="bttn-left"></div>
    <div class="bttn-right"></div>
    <span class="bttn-txt">Add</span></button>
  
  </div>
  
</div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>