<app-head ></app-head>
<div class="rel d-block w-100  height" style="background-image: url('assets/img/img1.jpg'); background-size: cover; background-position: center center;"></div>
<div class="carocard  jump">
    <span class="car-title">Asbestos</span>
   
  </div>
<app-productdis></app-productdis>

<div class="p-container">
  
<div class="p-card" *ngFor="let item of items">
  <img src={{item.imag}} alt="rand">
  <button class="hovr-butt" (click)="fullopen($event)">view</button>
  <div class="full-view" id={{item.id}}>
    <div class="cl">
    <span class="close" (click)="fullclose($event)" >&times;</span>
  </div>
  <div class="preview" id="prev">
    <div class="prebox">
      <span class="close pr" (click)="fullclose($event)" >&times;</span>
 
   <h1 class="cen">Preview</h1>
<hr>
     <div class="row low">
      <div class="col-md">
        <img src="{{item.imag}}"  class="pimg" alt="">
      </div>
      <div class="col-md">
        <p class="fnt" id="name1" >{{name}}</p>
        <p class="fnt" id="address1">{{add}}</p>
        <p class="fnt" id="phone1">{{mobile}}</p>
        <p class="fnt" id="emailid1">{{email}}</p>
      </div>
      <div class="col-md">
        <p class="fnt">Product:{{item.name}}</p>
        <p class="fnt">Quantity:{{num.value}}</p>
        <p class="fnt">Price:{{item.cost}}</p>
        <p class="fnt" id="total1">Total:{{item.cost}}</p>
      </div>
      
     </div>
     <br><br><hr>
     <button class="bttn padl" (click)="addtodb(item.name,item.cost,item.imag,num.value)">
      Buy</button>
      <br><br><br><br><br>
    </div>
    
  
  </div>
  <hr>
    <div class="row">
      <div class="col-md">
      <img src={{item.imag}} alt="" width="460" height="345">
    </div>
    <div class="col-md">

          <h1>{{item.name}}</h1>
          <hr>
          <p class="txtp">{{item.p}}
          </p>
            <label for="quant" id="quantt" >Quantity:  <input type="number" #num (change)="calc($event,num.value,item.cost)" id="quant" class="quant" min="1" required value="1" max="10">
            </label>
          <div class="row ">

        <div class="col">
          <button class="bttn padl" (click)="addtocart(item.imag,item.cost,item.name,num.value)">Add</button>
        </div>
        <div class="col">

          <button class="bttn padl" (click)="show($event)">
            Buy</button>
</div>


        </div>
        </div>

        </div>
        <br><hr>
        <p class="ful-rate" id="totall" >₹{{item.cost}}</p>
  </div>

  <div class="row">
  <p class="rate">₹{{item.cost}}</p>
    <button class="bttn" (click)="addtocart(item.imag,item.cost,item.name,num.value)">Add</button>
  
  </div>
  
</div>

</div>
<app-contact></app-contact>
<app-footer></app-footer>