<app-head ></app-head>
<div class="rel d-block w-100  height" style="background-image: url('assets/img/img1.jpg'); background-size: cover; background-position: center center;"></div>
<div class="carocard  jump">
    <span class="car-title">Asbestos</span>
   
  </div>
<app-productdis></app-productdis>
<div class="p-container">
<div class="p-card" *ngFor="let item of items">
  <img src={{item.imag}} alt="rand">
  <button class="hovr-butt" (click)="fullopen($event)">view</button>
  <div class="full-view" id={{item.id}}>
    <div class="cl">
    <span class="close" (click)="fullclose($event)" >&times;</span>
  </div>
    <div class="row">
      <div class="col-md">
      <img src={{item.imag}} alt="" width="460" height="345">
    </div>
    <div class="col-md">

          <h1>{{item.name}}</h1>
          <p class="txtp">Not so! A cover letter serves an important purpose: it presents the case for why you should be hired and distinguishes you from other candidates. Your cover letter is where you can show your passion for the position and the company, and highlight your most relevant qualifications. A well-written cover letter will supplement your resume by focusing on why you're a well-qualified candidate for the job.</p>
            <label for="quant" id="quantt" >Quantity:  <input type="number" #num (change)="calc($event,num.value,item.cost)" id="quant" class="quant" min="1" required value="1" max="10">
            </label>
          <div class="row ">

        <div class="col">
          <button class="bttn padl" (click)="addtocart(item.imag,item.cost,item.name,num.value)">Add</button>
        </div>
        <div class="col">

          <button class="bttn padl" (click)="addtodb(item.name,item.cost,item.imag,num.value)">
            Buy</button>
</div>
        </div>
        </div>

        </div>
        <p class="ful-rate" >${{item.cost}}</p>
  </div>

  <div class="row">
  <p class="rate">${{item.cost}}</p>
    <button class="bttn" (click)="addtocart(item.imag,item.cost,item.name,num.value)">Add</button>
  
  </div>
  
</div>

</div>
<app-contact></app-contact>
<app-footer></app-footer>