.login-container{
    display: flex;
justify-content: center;
}

.login-form{
    padding:10px;
    padding-top: 5%;
    position: absolute;
    display: flex;
    margin: auto;
    width:70%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;

    border:2px solid white;
margin-top: 90px;
    box-shadow:  8px 8px 50px  rgb(109, 109, 109);

}
.createp{
    z-index: 2;
    position: relative;
    text-align: center;
}
.fpass{
    text-decoration: none;
    float: right;
}
textarea,textarea:focus,input,input:focus{
    font-size: 20px;
    background-color: rgb(230, 230, 230);
   
}
.back{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.login-input,.login-input:focus{
    border:1px solid rgb(172, 172, 172);
   border-radius: 5px;
   height: 50px;
   width: 90%;
   padding-left: 10%;
   margin-right: 10%;
   outline: none;
   color: rgb(0, 0, 0);
   border-top: none;
   border-left: none;
   border-right: none;
   border-radius: -20px;
   border-bottom-color:white ;
   background: inherit;
}
.login-input::placeholder{
    color: rgb(0, 0, 0);
}

.mob-log{
    display: none;
}
@media only screen and (max-width:853px){
    .mob-log{
        width:300px;
        height:300px;
        display:flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    
    .auth-img{
        display: none;
    }
    .login-form{
       top:0;
   position: relative;
       background-color:rgba(255, 255, 255) ;
       display: block;
      border-radius: 20px;
        padding-top: 10%;
        width: 90%;
    }
    .login-container{
        padding-bottom: 20px;

height: auto;
width: auto;
background: linear-gradient(355deg, rgba(255,0,0,1) 6%, rgba(225,50,50,1) 33%, rgba(47,0,220,1) 65%, rgba(0,201,220,1) 94%);


    }
    
    .login-form:hover{
        box-shadow: 8px 8px 50px  rgba(255, 255, 255,0);
    }
    
    .login-input,.login-input:focus{
        margin-left: 1rem;
        font-size: 15px;
       border-top: none;
       border-left: none;
       border-right: none;
       border-radius: -20px;
       border-bottom-color:rgb(0, 0, 0) ;
       background: inherit;
    }
    .login-input::placeholder{
        color: rgb(0, 0, 0);
    }
    
    
}



label{
    font-size: 20px;
    padding-right: 20%;
}

.bttn-login{

    width:150px;
    height:40px;
outline: none;
border:none;
border-radius: 20px;
background-color: blueviolet;
color: white;
margin-left: auto;
margin-right: auto;
position: relative;
transition: 1s;
}
.bttn-login:hover{
    background-color: rgb(90, 0, 173);

}
.auth-img{
   
    margin-left: auto;
    margin-right: auto;
    width:auto;
}

