<div class="ca-cont">
      <div class="but-cont">
        <p class="ptag">Want to sign in?</p>
        <button class="bttn">
            <div class="bttn-left"></div>
          <div class="bttn-right"></div>
          <span class="bttn-txt pl">Admin</span></button>
          <button class="bttn">
            <div class="bttn-left"></div>
          <div class="bttn-right"></div>
          <span class="bttn-txt pl">Client</span></button>
          <p class="ptag tp">or</p>
          <button class="bttn rt">
              <div class="bttn-left"></div>
            <div class="bttn-right"></div>
            <span class="bttn-txt pl">Signup</span></button>
                  
    </div>
</div>