

  
        

<div class="container alig" data-aos="fade-up" data-aos-duration="4000"  data-aos-delay="150">

    <img class="rand1" src="assets/img/rand1.png" alt="rand1">
    <img class="rand3" src="assets/img/rand3.png" alt="rand3">

<p class="ptag">Asbestos cement products, including asbestos cement sheets and pipes, currently make up approximately 90% of the world’s asbestos production. The vast majority is used to make asbestos roofing. While asbestos cement sheet production in the U.S. ended in the 1980s, it remains legal to import the product from other countries.

    Fibrous asbestos cement is more durable than drywall and easier to work with than concrete, and they have numerous applications in construction, including use as roofing and siding. Today in the U.S. the fibers in cement sheets are usually made of cellulose, a substance found in plants, but for nearly 80 years they were primarily made with asbestos.
    
    These sheets were installed in homes, military bases, public buildings, industrial settings and job sites.Asbestos cement sheet was once synonymous with “fibrous cement sheet,” and it has also been generically called “AC sheet” and “fibro.” U.S. companies stopped manufacturing these types of asbestos products, but asbestos cement sheets are still popular building materials in developing nations such as India and China. These products are dangerous because with age and damage they become friable, or easily crumbled, making them likely to release asbestos fibers.</p>







</div>