<div class="marr"></div>
<div class="cont">
<div class="col-sm " data-aos="fade-up" data-aos-duration="4000"  data-aos-delay="150">
    <div class="carrd " >
        <div class="top-circle"></div>
        <div class="bottom-circle"></div>
        <div class="carrd-head">
            <h1>Corrugated Asbestos Sheets</h1>
        </div>
        <div class="carrd-p">
            <p class="pfont">Fibrous cement created an easy and affordable alternative to corrugated metal panels, which offer little insulation and inevitably rust over time. Corrugated asbestos sheets were used in the roofing .</p>
        </div>
    </div>
</div>

<div class="col-sm " data-aos="fade-up" data-aos-duration="4000"  data-aos-delay="150">
    <div class="carrd" >   
        <div class="top-circle"></div>
        <div class="bottom-circle"></div>
             <div class="carrd-head">
            <h1>Asbestos Flatsheet</h1>
        </div>
        <div class="carrd-p">
            <p class="pfont">Because fibrous cement is much more water resistant than drywall, flat sheets of asbestos cement found their way into the interiors of homes and businesses as walls and underlayment for flooring.</p>
        </div>

    </div>
</div>

<div class="col-sm " data-aos="fade-up" data-aos-duration="4000"  data-aos-delay="150">
    <div class="carrd" >
        <div class="top-circle"></div>
        <div class="bottom-circle"></div>
          <div class="carrd-head">
                <h1>Asbestos Lumber</h1>
            </div>
            <div class="carrd-p">
                <p class="pfont"> Also called asbestos cement sheathing, “asbestos lumber” was not made out of wood at all. Instead, it was marketed as a superior alternative to wood. It was fireproof and electrically nonconductive, yet still soft enough to be worked like natural lumber. </p>
            </div>

        </div>
    </div>
<!--     
    <div class="col-sm " data-aos="fade-up" data-aos-duration="4000"  data-aos-delay="150">
        <div class="carrd" >
            <div class="top-circle"></div>
        <div class="bottom-circle"></div>
            <div class="carrd-head">
                <h1>Asbestos Lumber</h1>            </div>
            <div class="carrd-p">
                <p class="pfont">Asbestos lumber was used as a base for roofing and siding materials such as shingles and false brick facing. Asbestos products are notoriously difficult to identify visually. The best approach is to have a suspicious product tested. Workers should assume that older corrugated roofs and flatsheets are likely to contain asbestos.</p>
            </div>
        </div>
    </div> -->
    
    </div>