

  
        

<div class="container alig" data-aos="fade-up" data-aos-duration="4000"  data-aos-delay="150">
    <button class="but-card" data-toggle="collapse" data-target="#dis" aria-expanded="false" id="disc" aria-controls="dis">
        Want to know how is it made?<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down pls" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg></button>
        
    <div class="row">

<div class="col-sm-12 col-lg-7 collapse" id="dis"  aria-labelledby="disc" >
    <img class="rand1" src="assets/img/rand1.png" alt="rand1">

<p class="ptag">The process starts by shreding the waste clothes into small pieces. Then these are weighed into 25 kgs a bag. Now the clothes are put into a grinding machine. Sufficient amount of water is 
    added to the clothes. After hours of grinding, the products begins to resemble like the end product. Now they are in a semi solid state and blue in colour. At the net stage of the process
    the product is colloected and stored in a tank with the use of a pipe. In the tank, more water is added and constantly steered using large blades. By now the product is in a liquid state.
    Using pipes the product is collected and feed into a pressing machine. This machine applies pressure and divides the final product from the water. The waste water is collected and recycled 
    to be used again. Now the CRP (cotton rag pulp) sheets are dried in the sun to give us the final product. Now the sheets can be loaded into trucks and delivered to you.  
     </p>
</div>
<div class="col col-lg-5" style="overflow: hidden;">
    <div class="world-image"></div>

</div>
<img class="rand1" src="assets/img/rand2.png" alt="rand2">

</div>


</div>